<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="col-lg-6 mainPage">
      <div class="jumbotron">
        <p><a class="btn btn-primary btn-lg" href='/authors'>Authors</a></p>
      </div>
    </div>
    <div class="col-lg-6 mainPage">
      <div class="jumbotron">
        <p><a class="btn btn-primary btn-lg" href='/books'>Books</a></p>
      </div>
    </div>
  </body>
</html>
