.mainPage{
  height: 600px ;
}
.jumbotron{
  height: 90%;
  text-align: center;
  padding-top: 10px;
}
  img{
    width: 150px;
  }
.scroll{
  overflow: scroll;
  height: 700px;
  /*border: so: ;lid black 1px;*/
}
.sideNave{
  border: solid black 1px;
  height: 600px;
}
.row{
  border: solid black 1px;
  height: 300px;
}
.botton{
  text-align: right;
}
.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  float: right;
}
/*.limit{
  margin-top: -20px;
  width: 110%;
}*/
